[user]
	email = me@rafael.pt
	name = Rafael Albuquerque
[push]
    default = simple
[pull]
    default = simple
[color]
	ui = auto
[status]
    short = true
    branch = true
[alias]
	today = log --since=\"6am\" --pretty=\"oneline\" --author=\"Rafael Albuquerque\"
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
	editor = /usr/bin/vim
[color "branch"]
    current = green
    local = white
    remote = red
[color "status"]
    added = green
    changed = red
    untracked = yellow
